<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>@ViewBag.name</b> <i class="material-icons right">arrow_drop_down</i></a></li>
