<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="~/StyleSheet.css" rel="stylesheet" />


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
<!-- Google web font "Open Sans" -->
<link href="~/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<!-- Font Awesome -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sidebar template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <div class="text-center">
                        <li class="header-menu">
                            <span>Kategoriler</span>
                        </li>
                    </div>
                    <li>
                        <a asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Spor">Spor</a>
                    </li>
                    <li>
                        <a asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Magazin">Magazin</a>
                    </li>
                    <li>
                        <a asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Siyaset">Siyaset</a>
                    </li>
                    <li>
                        <a asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Eğitim">Eğitim</a>
                    </li>
                    <li>
                        <a asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Sağlık">Sağlık</a>
                    </li>
                    <li>
                        <a asp-action="CategoryNewsList" asp-controller="Home" asp-route-id="Ekonomi">Ekonomi</a>
                    </li>
                    @*//*@
                    <div class="text-center">
                        <li class="header-menu">
                            <span>Duyuru</span>
                        </li>
                    </div>
                    <li>
                        <a asp-action="CategoryAnnouncementList" asp-controller="Home" asp-route-id="Spor">Spor</a>
                    </li>
                    <li>
                        <a asp-action="CategoryAnnouncementList" asp-controller="Home" asp-route-id="Magazin">Magazin</a>
                    </li>
                    <li>
                        <a asp-action="CategoryAnnouncementList" asp-controller="Home" asp-route-id="Siyaset">Siyaset</a>
                    </li>
                    <li>
                        <a asp-action="CategoryAnnouncementList" asp-controller="Home" asp-route-id="Eğitim">Eğitim</a>
                    </li>
                    <li>
                        <a asp-action="CategoryAnnouncementList" asp-controller="Home" asp-route-id="Sağlık">Sağlık</a>
                    </li>
                    <li>
                        <a asp-action="CategoryAnnouncementList" asp-controller="Home" asp-route-id="Ekonomi">Ekonomi</a>
                    </li>
                </ul>

                @*<li class="header-menu">
                    <span>İletişim</span>
                </li>*@
            </div>
            <!-- sidebar-menu  -->
        </nav>


        <main class="page-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>

        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>

</html>
